<form>
    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" 
               id="nome" 
               #nome>
    </div>
    <div>
    <label for="tipo">Tipo</label>
    <select name="tipo" id="tipo" #tipo>
        <option *ngFor="let tp of tipos" 
                [value]="tp">{{tp}}</option>
    </select>
</div>
<input type="button" value="Cadastrar" 
       (click)="adicionarContato(nome.value, tipo.value)">
</form>

<table *ngIf="agenda.obterContatos().length > 0">
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
    </tr>
    <tr *ngFor="let cc of agenda.obterContatos()">
        <td>{{cc.getNome()}}</td>
        <td>{{cc.getTipo()}}</td>
    </tr>
</table>